<%=form_for @judge, html: {class: "form-horizontal col-sm-8", role: "form"} do |f|%>
<div class="form-group">
  <%=f.label :name, class: "col-sm-2 control-label"%>
  <div class="col-sm-6">
    <%=f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%=f.label :level, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[level]', options_for_select([1,2,3,4,5,"Inativo"]),{class: 'form-control'} %>    
  </div>
</div>
<div class="form-group">
  <%= f.label :father, class: "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= select_tag 'judge[parent_judge_id]', options_for_select(@fathers.collect{|f| [f.name, f.id]}),{prompt: 'Father', class: 'form-control'} %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</div>
<% end %>