<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=t :web_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <meta property="og:title" content="<%=t :web_title %>"/>
  <meta property="og:url" content="<%=root_url%>"/>
  <meta property="og:site_name" content="Juízes Magic Brasil"/>
  <meta property="og:image" content="<%=asset_url('tree.jpg') %>"/>
  <meta property="og:description" content="<%=t :web_description %>"/>
  <%= csrf_meta_tags %>
  <style>
  table{border-collapse: initial !important;}
  .bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
  }
  .bs-callout h4 {
    margin-top: 0;
  }
  .bs-callout p:last-child {
    margin-bottom: 0;
  }
  .bs-callout code,
  .bs-callout .highlight {
    background-color: #fff;
  }

  /* Themes for different contexts */
  .bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
  }
  .bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
  }
  .bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
  }
  .judge{width: 80px;height: 80px;vertical-align: middle;}
  .judge p{min-height: 40px;}
  .emeritus{background: #CCCC33;}
  .three{background: #CCCCFF;}
  .two{background: #99CCFF;}
  .inativo{background: #E0E0E0;}
  .level{color: blue;text-decoration: italic;font-size: 12px;}
  td div.flag{ margin: 0 auto;}
  .google-visualization-orgchart-node{font-size: 14px !important;padding:0px !important;}
  </style>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%=link_to t('judges_comunity'), root_path, class:'navbar-brand' %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li>
            <%=link_to t('new_judge'), new_judge_path%>
          </li>
          <li>
            <%=link_to t('judges'), judges_path%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%=link_to t('log_out'), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <%if flash[:error] %>
    <div class='bs-callout bs-callout-warning'>
      <h4><%=flash[:error]%></h4>
    </div>
    <% end %>
    <%if flash[:notice] %>
    <div class='bs-callout bs-callout-info'>
      <h4><%=flash[:notice]%></h4>
    </div>
    <% end %>

    <%= yield %>
  </div>
  <%= yield :javascript %>
</body>
</html>
